.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 413px;
    height: 540px;
    left: 434px;
    top: 84px;
    background: #F9F9FE;
    border-radius: 8px;
    border: 1px solid black;
}
.title {
    display: flex;
    margin: 25% 0 0 0;
}

.email {
    display: flex;
    justify-content: center;

}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 48px;
    left: 467px;
    top: 330px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #2D2E46;

    opacity: 0.5;

    margin: 5% 0 0 0;
}
.button{
    margin: 25% 0 0 0 ;
}